.card-component {
    background-color: #FAFAFA;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr 1.5fr 1.5fr;
    }
    
.card-component div {
    border: 1px solid #ffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}